.mainTitle{
    margin-top: 25px;
    font-size: 28px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}
.submit-btn {
    width:100wh;  
    vertical-align: middle;
  }

  .result{
    background-color: rgba(255, 255, 255, 0.6);  
    position: fixed;
    bottom: 200px;
    left: 0;
    right: 0;
    vertical-align: middle;
    text-align: center;
    margin: auto;
   width: 70%;
  }


  .grid-bar ion-row ion-col{
    text-align: center;
    margin: auto;
  }
  
  .buttonsDiv {
    position: fixed;
    bottom: 52px;
    left: 0;
    right: 0;
    vertical-align: middle;
    text-align: center;
    margin: auto;
   
  }