
.icon-sm {    
    border: 2px solid;    
    background: transparent;        
    border-color: #FF9B0D;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    
    ion-icon {
       font-size: 22px;   
       color: #FF9B0D;   
   }
}
.icon-md {    
    border: 2px solid;    
    background: transparent;        
    border-color: #FF9B0D;
    border-radius: 27px;
    width: 54px;
    height: 54px;
    
    ion-icon {
       font-size: 30px;   
       color: #FF9B0D;   
   }
}