<ion-header no-border>
  <ion-toolbar >
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="logo-toolbar">
      <ion-img  src="/assets/logo.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="mainbackground" style="background: none transparent;">
  <div class="searcharea">
      <div class="submit-btn"> 
          <ion-searchbar placeholder="What are you looking for?"></ion-searchbar>
        </div>

        <div class="submit-btn">
            <ion-button class="submit-btn" (click)="scanQR()">
                <ion-icon slot="start" name="qr-scanner"></ion-icon>
              Scan QR Code
            </ion-button>
        </div>
        <ion-label>
          {{testresult}}
        </ion-label>
  </div>

      <div class="submit-btn bottom">
          <ion-button>GO TO LIST</ion-button>
          &nbsp; 
        &nbsp; 
        </div>
        

</ion-content>

